$themes: (
  blue: (
    color: $theme-blue,
    nav-bar-title: $white,
    nav-bar-left: $white,
  ),
  red: (
    color: $theme-red,
    nav-bar-title: $white,
    nav-bar-left: $white,
  ),
  green: (
    color: $theme-green,
    nav-bar-title: $white,
    nav-bar-left: $white,
  ),
);
