$color-primary: #3399ff;
$color-light-primary: #5cadff;
$color-dark-primary: #3091f2;
$color-info: #3399ff;
$color-success: #00cc66;
$color-warning: #ff9900;
$color-error: #ff6600;
$color-title: #464c5b;
$color-content: #657180;
$color-content-sub: #9ea7b4;
$color-disabled: #c3cbd6;
$color-border: #d7dde4;
$color-divider: #e3e8ee;
$color-backgroud: #f5f7f9;

$theme-red: #F26755;
$theme-blue: #26A2FF;
$theme-green: #1AAD19;