// http://v1.iviewui.com/components/color
$white: #ffffff;
$color-primary: #2d8cf0;
$color-light-primary: #5cadff;
$color-dark-primary: #2b85e4;

$color-info: #2db7f5;
$color-success: #19be6b;
$color-warning: #ff9900;
$color-error: #ed4014;
$color-title: #17233d;
$color-content: #515a6e;
$color-content-sub: #808695;
$color-disabled: #c5c8ce;
$color-border: #dcdee2;
$color-divider: #e8eaec;
$color-backgroud: #f8f8f9;

$theme-blue: #2d8cf0;
$theme-red: #F26755;
$theme-green: #1AAD19;